{
    "parser": "babel-eslint",
    "rules": {
        "max-len": [1, 126, 2, {"ignoreComments": true}],
        "id-length": 0,
        "no-console": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "strict": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": "off"
    },
    "env": {
        "jest":true,
        "browser": true
    },
    "extends": ["airbnb"],
    "ignorePatterns": ["node_modules/", "dist/", ".gitignore", "cypress/", "stories/"]
}